.wrapper{
  width: 200px;
  margin: 0 auto;
}

.input{
  text-align: center;
  ::placeholder{
    text-align: center;

  }
}

.button{
  width: 8em;
  height: 2em;
  background-color: #6E6658;
  color: white;
  &:disabled{
    background-color: gray;
    color: darkgray;
  }
;
}